body{
  background: linear-gradient(to right, rgba(212, 228, 239, 1) 0%, rgba(134, 174, 204, 1) 100%);
}

.card-wrapper{
display:flex;
justify-content:center;
height:100vh;
align-items:center;


}

.card-form{
  margin:20;
  background: white;
  padding: 60px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 11px 19px;
  border-radius: 8px;
}

label{
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold
}

.username, .password{
  margin: 8px 0px;
  }
  .button_register {
    display:inline;
  }